body {
}

body {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.3px;
    color: #333333;
    background-color: white;
}
h2 {
    color: #00ada7;
    font-weight: 600;
    text-align: left;
    font-size: 2em !important;
}

h3,
b {
    color: #91c01c;
}
td,
th {
    border: 1px solid #333333;
    padding: 1em;
}
table {
    border-collapse: collapse;
}
